<!doctype html>
{% load staticfiles %}
{% load web_template_tags %}

<html lang="en">
<head>

    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<style>
    .navbar-user {
        padding: 0;
        margin: 0 auto;
        width: 200px;
        text-align: center;
    }
</style>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Image and text -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'web:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% block dropdown-menu %}
                        {% get_category_list %}
                    {% endblock %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'web:game' %}">Something else here</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="navbarContact">Contact</a>
            </li>
        </ul>

    </nav>

    <nav class="navbar-logo" style="margin-right: 17%">
        <a class="navbar-brand" href="{% url 'web:index' %}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRvYB2Gs3hJ8mOG28GDrHtRs-EdlzHo0nb6CYyWY2RcnofkVE1"
                 width="30" height="30"
                 class="d-inline-block align-top" alt="">
            G-CRITIC
        </a>
    </nav>


    <!-- User Part -->
    {% if user.is_authenticated %}
        <nav class="navbar-user">
          <span class="navbar-text">
            Hello! {{ user.username }}
          </span>
            <a href="{% url 'auth_logout' %}" id="navbarLogout" style="margin-left: 20px">
        <span class="navbar-text">
            Logout</span></a>
        </nav>
    {% else %}
        <nav class="navbar-user">
            <a class="navbar-brand" href="{% url 'auth_login' %}" style="margin-left: 100px">
                <img src="{% static 'images/user-icon.png' %}" width="30" height="30" alt="">
            </a>
        </nav>
    {% endif %}

    <div style="float: right">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <input class="form-control mr-sm-2" id="search" name='search' type="text" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton" type="submit" data-toggle="modal"
                    data-target=".bd-modal-sm" onclick="AjaxSendSearch()">Search
            </button>


            <div class="modal fade" id="searchModal" aria-hidden="true" style="margin-left: -50px; z-index: 1060;">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content" style="text-align: center; width: 400px">
                        <div style="font-size: 40px;">Searching...</div>
                        <div class="spinner-border text-info" role="status"
                             style="margin-left: 180px; margin-bottom: 20px; margin-top: 10px">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm"
            style="margin-left: 10px">APP
    </button>

    <div class="modal fade bd-example-modal-sm" aria-hidden="true" style="z-index: 1050">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Search App ID</h3>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">APP</span>
                        </div>
                        <input id="appid" name="appid" type="text" class="form-control">
                        <button class="btn btn-outline-dark" type="submit" style="margin-left: 10px"
                                onclick="AjaxSendAppid()">Search
                        </button>
                        <span class="invalid-feedback"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</nav>


<div class="container-fluid" style="margin-top: 10px; text-align: center;">
    {% block content %}
    {% endblock %}
</div>

<script>
    function AjaxSendAppid() {
        $.ajax({
            url: '{% url 'web:searchappid' %}',
            type: 'POST',
            data: {'appid': $('#appid').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                console.log(data);
                if (data > 0) {
                    $('#searchModal').modal('show')
                    location.href = '/game/' + data
                } else {
                    $('#appid').addClass('is-invalid')
                    $('.invalid-feedback').text('Please enter appid number!')
                }

            }
        })
    }

    function AjaxSendSearch() {
        $.ajax({
            url: '{% url 'web:search' %}',
            type: 'POST',
            data: {'search': $('#search').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                console.log(data);
                if (data == 'Wrong'){
                    $('#searchModal').modal('hide')
                    $('#search').addClass('is-invalid')
                    $('.invalid-feedback').text('Please enter something!')
                } else {
                    $('#searchModal').modal('show')
                    location.href = '/search/' + data
                }

            }
        })
    }

</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>