<!DOCTYPE html>
<style>
    .img-thumbnail {
        width: 200px;
        height: 100px;
        margin: 5px;
    }
</style>
{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

    <iframe class="youtube-player" width="960" height="540"
            src="http://www.youtube.com/embed/{{ video.videoId }}" frameborder="0">
    </iframe>
    <div class="container-fluid">
        {% for game in five_games %}
            <a href="https://store.steampowered.com/app/{{ game.sku }}" target="_blank">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sku }}/capsule_616x353.jpg"
                 class="img-thumbnail" alt="{{ game.name }}">
            </a>
        {% endfor %}
    </div>

{% endblock %}

<script>

</script>