<!DOCTYPE html>
<style>
    .img-thumbnail {
        width: 200px;
        height: 100px;
    }
</style>
{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

    <iframe class="youtube-player" width="960" height="540"
            src="http://www.youtube.com/embed/O2W0N3uKXmo" frameborder="0">
    </iframe>
    <div class="container-fluid">
        <img src="/static/images/test.jpg" class="img-thumbnail" alt="Responsive image">
        <img src="/static/images/test.jpg" class="img-thumbnail" alt="Responsive image">
        <img src="/static/images/test.jpg" class="img-thumbnail" alt="Responsive image">
        <img src="/static/images/test.jpg" class="img-thumbnail" alt="Responsive image">
        <img src="/static/images/test.jpg" class="img-thumbnail" alt="Responsive image">
    </div>

{% endblock %}

